In [3]:
#Question 1
print("Printing current and previous number sum in a range 14")
p_num=0
sum=0
for i in range(0,14):
    sum=i+p_num
    print("Current Number ", i ," Previous Number ", p_num ," Sum: ", sum)
    p_num=i

Printing current and previous number sum in a range 14
Current Number  0  Previous Number  0  Sum:  0
Current Number  1  Previous Number  0  Sum:  1
Current Number  2  Previous Number  1  Sum:  3
Current Number  3  Previous Number  2  Sum:  5
Current Number  4  Previous Number  3  Sum:  7
Current Number  5  Previous Number  4  Sum:  9
Current Number  6  Previous Number  5  Sum:  11
Current Number  7  Previous Number  6  Sum:  13
Current Number  8  Previous Number  7  Sum:  15
Current Number  9  Previous Number  8  Sum:  17
Current Number  10  Previous Number  9  Sum:  19
Current Number  11  Previous Number  10  Sum:  21
Current Number  12  Previous Number  11  Sum:  23
Current Number  13  Previous Number  12  Sum:  25

In [33]:
#Question 2
list=["London","Istanbul","Houston","Rome"]
for i in list:
    print(i)

London
Istanbul
Houston
Rome

In [11]:
#Question 3
list=["London","Istanbul","Houston","Rome"]
name=input("Please enter the name; ")
for i in list:
    if i==name:
        print("Name found!")
        break
    else:
        print("Name not found!")
        continue

Please enter the name; London
Name found!

In [ ]:
#Question 4
# num=int(input("Enter a number: "))
# divide=0
# count=0
# while divide<10:
#     divde=num%3
#     count+=1
# print(count)

Enter a number: 156

In [ ]:
#Question 5

In [40]:
#Question 6
number=int(input("Enter a number to print even and odd: "))
for i in range(1,number):
    if i % 2==0:
        print("Even number is: ", i)
    else:
        print("Odd number is: ", i)

Enter a number to print even and odd: 20
Odd number is:  1
Even number is:  2
Odd number is:  3
Even number is:  4
Odd number is:  5
Even number is:  6
Odd number is:  7
Even number is:  8
Odd number is:  9
Even number is:  10
Odd number is:  11
Even number is:  12
Odd number is:  13
Even number is:  14
Odd number is:  15
Even number is:  16
Odd number is:  17
Even number is:  18
Odd number is:  19

In [47]:
#Question 7
str=input("Enter a string: ")
i=0
while i<len(str):
    if str[i].isalpha():
        print(str[i], end=" ")
    else:
        break
    i+=1

Enter a string: tal125ha
t a l

In [42]:
#Question 8
str=input("Enter a string: ")
i=0
while i<len(str):
    if str[i].isalpha():
        print(str[i], end=" ")
    i+=1

Enter a string: talha123
t a l h a

In [35]:
#Question 9
for i in range(1,6):
    for j in range(1,i):
        print("+", end=" ")
    print("+")

+
+ +
+ + +
+ + + +
+ + + + +

In [8]:
#Question 10
num=20
while num>=1:
    print(num, end=" ")
    num-=1

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [19]:
#Question 11
number=int(input("Enter a number: "))
i=0
while number>0:
    number%10==0
    i+=1
    number //=10
print(i)

Enter a number: 75869
5

In [38]:
#Question 12
for i in range(1,6):
    for j in range(1,i):
        print(j, end=" ")
    print(i)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [22]:
#Question 13
number=int(input("Enter a number that you want ot get the sum of numbers: "))
x=0
for i in range(1,number+1):
    print(i, end=" ")
    x=x+i
print(x)

Enter a number that you want ot get the sum of numbers: 10
1 2 3 4 5 6 7 8 9 10 55

In [19]:
#Question 14
number=int(input("Enter a number that you want to get the table: "))
for i in range(1,10+1):
    table=i*number
    print(number ," * ", i ," = ", table)

Enter a number that you want to get the table: 2
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [55]:
#Question 15
list=[5,7,49,66,48,55,17]
for i in list:
    if i%7==0:
        print("Divisor found")
        break
    else:
        continue

Divisor found

In [17]:
#Question 16
number=int(input("Enter a number that you want ot get the sum of numbers: "))
x=0
for i in range(1,number+1):
    print(i, end=" ")
    x=x+i
print(x)

Enter a number that you want ot get the sum of numbers: 10
1 2 3 4 5 6 7 8 9 10 55

In [57]:
#Question 17
number=int(input("Enter a numbers to calculate the count of numbers: "))
count=0
while number>0:
    number%10==0
    count+=1
    number //=10
print(count)

Enter a numbers to calculate the count of numbers: 75869
5

In [14]:
#Question 18
list=[10,20,30,40,50]
for i in list[::-1]:
    print(i)

50
40
30
20
10