In [47]:
#Task 1
name = "Talha Bangyal"
age = 20
favourite_food = "Karhai"

print(f"My name is: {name}. I am {age} year old. My favourite food is: {favourite_food}")

My name is: Talha Bangyal. I am 20 year old. My favourite food is: Karhai

In [12]:
#Task 2
str1 = "/*Jon is @developer & musician"
str = ""
for i in str1:
    if i not in ["/","*","@","&"]:
        str += i
print(str)

Jon is developer  musician

In [50]:
#Task 3
str = "PyNaTive"
str1 = ""
str2 = ""
for i in str:
    if i.islower():
        str1 += i
    elif i.isupper():
        str2 += i
s = str1 + str2
print(s)

yaivePNT

In [17]:
#Task 4
s1 = "Abc"
s2 = "Xyz"
str = ""
count=0
for i in s1:
        str += i
        str += s2[count]
        count+=1
print(str)

AXbycz

In [12]:
#Task 5
str = "PYnative29@#8496"
sum = 0
avg = 0
for i in str:
    if i.isdigit():
        sum += int(i)
        avg += 1
print("sum is: ", sum)
print("average is:", sum / avg)

sum is:  38
average is: 6.333333333333333

In [18]:
#Task 6
str = "Hamad-is-a-data-scientist"
list=str.split('-')
for i in list:
    print(i)

Hamad
is
a
data
scientist

In [31]:
#Task 7
str1 = "Emma25 is Data scientist50 and AI Expert"
str = str1.split(" ")
print(str)

['Emma25', 'is', 'Data', 'scientist50', 'and', 'AI', 'Expert']

In [21]:
#Task 8
str1 = "/*Jon is @developer & musician"
str = ""
for i in str1:
    if i in ["/","*","@","&"]:
        str += "#"
    else:
        str += i
print(str)

##Jon is #developer # musician

In [28]:
#task 9
str1 = "Apple"
dic={"A":str1.count("A"),"p":str1.count("p"),"l":str1.count("l"),"e":str1.count("e")}
print(dic)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [51]:
#task 10
# str=input("Enter a string: ")
# for i in str:

In [43]:
#task 11
str=input("Enter a string: ")
sub_str=input("Enter a sub string: ")
result=s.find(sub_str)
str1=str+" "+sub_str
print("Sub string is:",sub_str)
print("concatenated string is:",str1)

Enter a string: Talha Bangyal
Enter a sub string: Talha
Sub string is: Talha
concatenated string is: Talha Bangyal Talha

In [38]:
#task 12
str=input("Enter a string to check palendrome: ")
if str==str[::-1]:
    print(str,"is palendrome")
else:
    print(str,"is not palendrome")

Enter a sting to check palendrome: mam
mam is palendrome

In [40]:
#task 13
str=input("Enter a String to rotate: ")
print(str[::-1])

Enter a String to rotate: Talha
ahlaT

In [ ]:
#task 14